<div mat-subheader class="channels_title">Channels</div>
<div class="channels_list">
    <mat-selection-list [formControl]="channelControl"
                        [multiple]="false"
                        [hideSingleSelectionIndicator]="true"
                        (selectionChange)="onSelectChannel()">
        @for (channel of (channelList$ | async); track channel.id) {
            <mat-list-option [value]="channel.id"># {{ channel.name }}</mat-list-option>
        }
    </mat-selection-list>
</div>

<div class="channels_add-btn">
    <button mat-button (click)="addChannel()">Add channel</button>
</div>
