<form class="message_form">
  <mat-form-field [className]="'message_input'">
    <textarea
      matInput
      [formControl]="messageTextControl"
      rows="3"
      (keydown.control.enter)="handleSendMessageBtn()"
      placeholder="Enter message"
    ></textarea>
  </mat-form-field>
  <div class="message_btn">
    <button
      mat-icon-button
      type="button"
      [matTooltip]="'Send message'"
      [disabled]="!messageTextControl.value"
      (click)="handleSendMessageBtn()"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</form>
