:host {
    flex: 0 1 auto;
}

.message {
    &_form {
        display: flex;
    }
    &_input {
        flex: 1 1 auto;
    }
    &_btn {
        flex: 0 1 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5em;
    }
}
